footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ffff;
  background-color: black;
  align-items: center;
  padding: 60px;

  .container-footer {
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 90%;
    .text-footer {
      display: flex;
      flex-direction: column;
      gap: 25px;
      ul {
        font-size: smaller;
        list-style-type: "- ";
        list-style-position: inside;
      }
    }
    .socialnet {
      width: 100%;
      justify-content: center;
      display: flex;
      gap: 10px;
      img {
        width: 50px;
      }
    }
    @media (max-width: 1080px) {
      .text-footer {
        font-size: 12px;
        ul {
          font-size: 12px;
          list-style-type: "- ";
          list-style-position: inside;
        }
      }
      .socialnet {
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 10px;
        img {
          width: 30px;
        }
      }
    }
  }
}
